/* Defaults */
$background: #292929;
$text: #ffffff;

/* Holi Colors */
$holi-magenta: #d10fd1;
$holi-purple: #9900e3;

$holi-crimson: #d10f0f;
$holi-vermillion: #9e1309;

$holi-lemon: #ded018;
$holi-yellow: #e38800;

$holi-night: #2437d4;
$holi-blue: #0072e3;
